
@media (max-width: 991px) {
    .navbar .navbar-nav {
        padding: 10px 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }
    .header-top {
        display: none !important;
    }
    .premium-software {
        padding: 20px 0px;
    }
    .premium-software::before {
        left: 0%;
        border-radius: 100% 0 0 0%;
    }
    .certificate-img img{
        width: 40%;
    }
}


@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
    .header-top {
        display: none !important;
    }
}