
@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        padding: 10px 15px;
        background: var(--primary);
    }

    .navbar .navbar-nav .nav-link  {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-brand img{
        width: 70%;
    }

    .feature{
        margin-top: -200px;
    }
    .pt-10{
        padding-top: 5rem !important
    }

    .premium-software {
        padding: 20px 0px;
    }

    .premium-software::before {
        left: 0%;
        border-radius: 100% 0 0 0%;
    }

    .certificate-img img{
        width: 40%;
    }
    /*============================================
        Clients Slide start
    *=============================================*/
    .logos-slider:before,
    .logos-slider:after {
        position: absolute;
        top: 0;
        content: '';
        width: 120px;
        height: 100%;
        z-index: 2;
    }

    .logos-slider-container a {
        margin-left: 40px;
    }

    .logos-slider-container img {
        width: 50px;
        height: 50px;
        object-fit: contain;
    }
    .header-top {
        display: none;
    }
    /*============================================
        Clients Slide END
    *=============================================*/

}


@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        border: none;
        margin-top: 0;
        top: 150%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;
    }

    .navbar .nav-item:hover .dropdown-menu {
        top: 100%;
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
    
}