/********** Template CSS **********/
:root {
    --primary: #3243d8;
    --secondary: #15ACE1;
    --light: #F4F7FE;
    --dark: #14183E;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
  font-family: "Montserrat", serif;
}

/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}


/*** Heading ***/
h1,
h2,
h3,
.fw-bold {
    font-weight: 700 !important;
}

h4,
h5,
h6,
.fw-medium {
    font-weight: 500 !important;
}
img {
    max-width: 100%;
    height: auto;
}
/*** Button ***/
.btn-gradient {
    background-image: linear-gradient(to right, #21D4FD 0%, #B721FF  50%, #00dbde  100%);
    font-size: 16px;
    padding: 10px 20px !important;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 10px;
}
.btn-gradient a{
    color: white;
}
.btn-gradient:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}

.navbar-collapse .btn-1{
    margin-left: 100px;
}
.navbar-collapse .btn-1{
    background-color: white;
    padding: 25px 15px;
}
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 50px;
}

.header-top {
    background-color: #080046;
}
.ht-address ul li {
display: inline-block;
color: #fff;
font-size: 16px;
font-weight: 400;
letter-spacing: 0;
margin-top: 20px;
}
.ht-address ul li i {
font-size: 16px;
margin-right: 7px;
vertical-align: middle;
}
.ht-social {
text-align: right;
margin-top: 20px;
}

.ht-social ul li {
display: inline-block;
}

.ht-social ul li a {
display: block;
color: #fff;
font-size: 14px;
margin-left: 10px;
background-color: #030c75;
padding: 5px 10px;
}
  
/*============================================
    END Header Top
*=============================================*/

/*** Navbar ***/
.sticky-top {
    top: -150px;
    transition: .5s;
}

.close-icon {
    font-size: 2.5em;
    color: white;
}
/* Remove border and background from the navbar toggle button */
#navbarToggle {
    border: none;    /* Removes any background color */
    outline: none;       /* Removes the outline that appears when focused */
    box-shadow: none;    /* Removes any shadow around the button */
}

.navbar {
    padding: 11px 0 !important;
    height: 75px;
}

.navbar .navbar-nav .nav-link {
    margin-right: 35px;
    padding: 0;
    color: rgba(255, 255, 255, .7);
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: rgba(255, 255, 255, 1);
}

.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

/*** Hero Header ***/
.hero-header {
    margin-top: -75px; 
    background:linear-gradient(0deg, rgba(19, 0, 122, 0.658), rgba(29, 0, 95, 0.658)), url(../img/hero-img.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 230px 0px;
}

.hero-header .breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** Section Title ***/
.section-title h2{
    color: #0f0277 !important;
}
.section-title p{
    color: black !important;
}
.white-title h2,
h3{
    color: white !important;
}
.white-title p{
    color: white !important;
}
/*============================================
    DSl at a Glance & Fun-facts
*=============================================*/
.feature{
    margin-top: -350px;
}
.fun-facts.section{
	padding: 120px 0;
}
.single-fun{
  background-color: white;
  border-radius: 10px;
  height: 300px;
  padding: 20px;
  margin-bottom: 20px;
}
.bg-dark{
  background-image: linear-gradient(#150B5E, #0b0538) !important;
  border: 1px solid white !important;
}
.counter-text{
	display: flex;
}
.counter-text h2{
	font-size: 50px;
	font-weight: 500;
    padding-bottom: 160px;
}
.counter-text span{
	font-size: 40px;
	font-weight: 600;
	padding-left: 5px;
}
.single-fun p{
	font-size: 16px;
}
/*============================================
    END Start Fun-facts
*=============================================*/

/*============================================
    Product Area 
*=============================================*/
.product-card{
    padding: 30px 20px;
    margin-bottom: 50px;
}
.product-card img{
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding-bottom: 30px;
}
.product-card h2{
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 20px;
}
.product-card p{
    line-height: 20px;
    font-size: 14px;
    padding-bottom: 20px;
    color: black !important;
}
/*============================================
    END Product Area 
*=============================================*/

/*============================================
  Our  Services Area 
*=============================================*/
.our-service {
    background-color: #150B5E;
    padding: 50px 0px;
}
.service-card{
    padding: 30px 20px;
}
.service-card h3{
    color: white;
    padding-top: 40px !important;
}
.service-card p{
    color: white !important;
}
.service-card i {
    font-size: 50px;
    color: #23066D;
    background-color: white;
    border-radius: 50%;
    padding: 10px;
}

.service-card h3 {
    padding: 20px 0px;
    font-weight: 600;
}

.service-card-img {
    background-color: white;
    padding: 20px;
    border-radius: 50%;
    width: 80px;
    object-fit: contain;
}

/*=== Premium Software ==*/
.premium-software {
    position: relative;
    background-color: #150B5E;
    color: #ffffff;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.premium-software::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 40%;
    background-color: rgba(170, 24, 255, 0.15);
    /* Adjust opacity to your preference */
    border-radius: 100% 0 0 0%;
}
/*============================================
    END Services Area 
*=============================================*/

/*============================================
    Technologies Area
*=============================================*/
.tech-item{
    background-color:   #f5f8ff   !important;
}
.tech-item {
    font-size: 14px;
    border: none;
}

.tech-item a {
    color: #000;
    font-weight: 500;
}

.tech-item.active {
    background-color: #c1bbff !important;
    /* Highlight color for active item */
    border-radius: 4px;
    padding: 0px 5px;
}

.tech-item:hover {
    color: #7267f0;
}

.nav-icon {
    font-size: 18px;
    margin-right: 5px;
}

.app-img{
    width: 60px;
}

/*============================================
    Technologies End
*=============================================*/


/*============================================
    Clients Slide start
*=============================================*/
.logos-slider-container a{
    align-items: center;
    justify-content: center;
}
.logos-slider-container:before,
.logos-slider-container:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos-slider-container:before {
    left: 0;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos-slider-container:after {
    right: 0;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

.logos-slider-container img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

/*============================================
    Clients Slide END
*=============================================*/

/*============================================
    Industry wave
*=============================================*/
.industry {
    justify-content: center;
    align-content: center;
    text-align: center;
}

.industries-item {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    margin: 0 auto;
    padding: 20px;
}

.item-card a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.item-card img {
    width: 20px;
    margin-right: 5px;
}

.item-card a span {
    color: #000;
    font-size: 14px;
    font-weight: 500;
}

/*============================================
    Industry wave End
*=============================================*/

/*============================================
Testimonilas Area
*=============================================*/
.testimonial-info img {
    width: 80px !important;
    height: 80px;
    object-fit: cover;
    border: 3px solid #030c75;
}

/*** Testimonial ***/
.owl-carousel .owl-dots {
    text-align: center;     /* Center the dots */
    padding-top: 15px;      /* Add spacing above the dots */
}

.owl-carousel .owl-dot {
    margin: 0 5px;          /* Adjust spacing between dots */
}

.owl-carousel .owl-dot.active span {
    opacity: 1;             /* Highlight active dot */
    background-color: #007bff; /* Active dot color */
}

.testimonial-carousel .owl-dot {
    margin-top: 30px;
    display: inline-block;
    margin-right: 10px;
    width: 40px;
    height: 4px;
    background: #838383;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--primary);
}
.owl-dots .owl-dot:nth-child(n+4) {
    display: none;
}
/* Style for the active center item */
.owl-item.center .testimonial-item {
    background-color: blue;
    color: white; /* Adjust text color for contrast */
    transition: background-color 0.3s ease;
}
/*============================================
    END Testimonial Area
*=============================================*/

/*** FAQs ***/
.faq{
    display: none;
}
.accordion .accordion-item {
    border: none;
    margin-bottom: 15px;
}

.accordion .accordion-button {
    background: var(--light);
    border-radius: 2px;
}

.accordion .accordion-button:not(.collapsed) {
    color: #FFFFFF;
    background: var(--primary);
    box-shadow: none;
}

.accordion .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

.accordion .accordion-body {
    padding: 15px 0 0 0;
}




/*** Footer ***/
.footer {
    background: #040210;
}

.footer .btn.btn-social {
    margin-right: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 1px solid rgba(256, 256, 256, .1);
    border-radius: 5px;
    transition: .3s;
}
.footer .btn.btn-social:hover {
    color: var(--primary);
}
.footer .btn.btn-link {
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: rgba(255,255,255,.5);
    font-weight: normal;
    transition: .3s;
}

.footer .btn.btn-link:hover {
    color: #FFFFFF;
}

.address i{
    margin-right: 10px;
}

.footer .btn-link a{
    display: block;
    margin-bottom: 10px;
    padding: 0;
    text-align: left;
    color: white;
    font-weight: normal;
    transition: .3s;
}

.footer .btn-link:hover {
    color: #FFFFFF;
}

.footer .btn-link a:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer-social{
    display: flex;
}
.footer-social h4{
    color: white;
}
.footer-social ul{
    display: flex;
}
.footer-social ul li{
    list-style: none;
    background: #000;
    margin: 0px 10px;
    padding: 10px 15px;
    border-radius: 5px;
}
.footer-social ul li a{
    color: white !important;
    font-size: 20px;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 14px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: rgba(255,255,255,.5);
}

.footer .copyright a:hover {
    color: #FFFFFF;
}